*{
  box-sizing: border-box;
  margin: 0;
}
body{
	background:url(img/background/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}
input, textarea{
  border: solid 1px #00000000;
  border-radius: 5px;
}



.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(img/background/BackgroundTopo2.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
}


.validacoes, .disciplinas{
  width: 50vw;
  margin: 20px auto;
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 15px;
}

.validadores{
  margin: auto;
}
.validador{
  margin: auto;
}
#matricula{
  border: #000000 1px solid;
}



.tabela{
  width: 100%;
  border: #000000 1px solid;
}

tr, td, th{
  border: #000000 1px solid;
}

.displayNone{
  display: none;
}

@media only screen and (max-width: 915px){
  .widthGeral{
    width: 800px;
  }
  #div1, #div3{
    overflow: scroll;
    width: 100%;
  }
}
@media only screen and (max-width: 815px){
  #div1, #div3{
    overflow: scroll;
    width: 100%;
  }
}